{:paths ["../metabase-datomic/src"
         "../metabase-datomic/resources"]
 :deps  {}

 :aliases
 {:metabase
  {:extra-deps {org.clojure/clojure {:mvn/version "1.10.0"}

                ;; Apache Commons Lang, this seems to be a missing dependency of
                ;; the current master of Metabase (2019-05-09)
                commons-lang        {:mvn/version "2.4"}
                metabase-core       {:mvn/version "1.0.0-SNAPSHOT"
                                     :scope       "provided"}}}

  :dev
  {:extra-paths ["../metabase-datomic/dev"]
   :extra-deps  {nrepl                      {:mvn/version "0.6.0"}
                 vvvvalvalval/scope-capture {:mvn/version "0.3.2"}}}

  :datomic-free
  {:extra-deps {com.datomic/datomic-free {:mvn/version "0.9.5697"
                                          :exclusions  [org.slf4j/jcl-over-slf4j
                                                        org.slf4j/jul-to-slf4j
                                                        org.slf4j/log4j-over-slf4j
                                                        org.slf4j/slf4j-nop]}}}

  :datomic-pro
  {:extra-deps {com.datomic/datomic-pro {:mvn/version "0.9.5561.62"
                                         :exclusions  [org.slf4j/jcl-over-slf4j
                                                       org.slf4j/jul-to-slf4j
                                                       org.slf4j/log4j-over-slf4j
                                                       org.slf4j/slf4j-nop]}}}

  :test
  {:extra-paths ["../metabase/src"
                 "../metabase/test"
                 "../metabase-datomic/test"]
   :jvm-opts    ["-Dmb.db.file=metabase.datomic.test"
                 "-Dmb.jetty.port=3999"]
   :extra-deps  {lambdaisland/kaocha        {:mvn/version "0.0-418"}
                 expectations               {:mvn/version "2.2.0-beta2"}
                 nubank/matcher-combinators {:mvn/version "0.9.0"}}}}}
